body {
	margin: 0px;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

#banner {
	width: 100%;
	height: 150px;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 85px;
	padding: 10px;
}

nav {
	height: 89px;
	width: 100%;
	float: left;
}

nav ul {
	list-style: none;
	padding: 0px;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;
	height: 85px;
}

nav ul li {
	float: left;
	font-family: 'EB Garamond', serif;
	font-size: 40px;
	width: 100px;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
#projects{
	margin-left: 300px;
}

#main {
	position: relative;
	top: 70px;
}

a {
	font-family: 'EB Garamond', serif;
	font-size: 60px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#fblink{
	position: absolute;
	top: 200px;
	left: 35px;
}

#instalink{
	position: absolute;
	top: 200px;
	left: 375px;
}
#ldInlink{
	position: absolute;
	top: 200px;
	left: 740px;
}

#fb{
	float: left;	
	margin-right: 45px;
}

#insta{
	float: left;
	margin-right: 45px;
}
#linkedin{
	float: left;
}

#footer{
	clear: left;
	margin-top: 500px;
	margin-bottom: 20px;
	height: 30px;
	width: 100%;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;	
	text-align: center;
	padding-bottom: 5px;
}
.p{
	font-family: 'EB Garamond', serif;
	font-size: 20px;
}